
<div class="header_tab" id="appHeader">
    <div class="swipe_tab swipe_tab_2 f-cb">
        <a href="javascript:;" class="{{tab_1_class}}" v-on:click="tabSwitch(0)"></a>
        <a href="javascript:;" class="{{tab_2_class}}" v-on:click="tabSwitch(1)"></a>
        <i v-bind:style="{width:indexHeaderTabW+'px',transitionDuration:header_duration+'s',transform:'translate3d('+ header_position+'px,0px,0px)'}" ></i>
    </div>
    <em class="header-user"></em>
    <em class="header-checkin"></em>
</div>