.container{
    height: 100%;
    overflow: hidden;
    position: relative;
}
.container .container_scroll{
    position: absolute;
    top:45px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}


.header_tab{
    padding: 0 90px;
    text-align: center;
    line-height: 44px;
    background: #efeff0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.header_tab i{
    bottom: -1px;
}
.header_tab i:before{
    content: '';
    display: block;
    height: 2px;
    width: 34px;
    margin: 0 auto;
    background: #777;
}
.header_tab a:before{
    content: '\4e66\67b6';
    display: block;
    margin: 0 auto;
    width: 2em;
}
.header_tab a:first-child:before{
    content: '\4e66\57ce';
}
.header-user{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 44px;
    height: 44px;
    background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01j041d5DOT/boUg2EJlVetOMC.png) no-repeat center;
    background-size: 16px;
}
.header-checkin{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 44px;
    height: 44px;
    background: url(http://image.read.duokan.com/mfsv2/download/s010/p01O5K5DzsAZ/2ZODzjwkRQh7l3.png) no-repeat center;
    background-size: 22px;
}
.swipe_tab{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swipe_tab i{
    position: absolute;
    left: 0;
    -webkit-transition: transform .3s ease-out;
}
.swipe_tab a{
    float: left;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.swipe_tab_2 a{
    width: 50%;
}
f-cb:before{
    clear: both;
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.swipe_tab_on{
    color: #ff6600;
}


.top_home{
    background: #fff;
    border-bottom: 10px solid #f5f5f5;
}
.top_home_search{
    margin: 10px 13px;
    padding: 1px 0 0 30px;
    color:rgba(0,0,0,0.4);
    background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png) no-repeat 8px center;
    background-size: 14px;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    font:11px/33px a;
}
.silder-banner img{
    width: 100%;
}
.top_home_btn{
    margin: 14px 0 4px;
    display: -webkit-box;
    width: 100%;
}
.top_home_btn li{
    -webkit-box-flex:1 ;
    line-height: 2.4;
    font-size: 12px;
    text-align: center;
}
.top_home_icon{
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 auto;

}


.channel_footer_next{
    border-top: 1px solid #f0f0f0;
    overflow: hidden;
}
.channel_footer_next>a{
    float: left;
    display: block;
    box-sizing: border-box;
    width: 50%;
    font: 13px/1.3rem a;
    color: rgba(0,0,0,0.9);
    text-align: center;
    padding: 14px;
}
.channel_footer_next>a:first-child{
    border-right: 1px solid #f0f0f0;
}

.channel{
    background: #fff;
    border-bottom: 10px solid #f5f5f5;
    position: relative;
}
.channel_header{
    padding: 15px 13px 14px 13px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}
.channel_title{
    position: relative;
    font: 13px/13px a;
    color: rgba(0,0,0,0.9);
}
.channel_title>i{
    position: absolute;
    margin: -1px 0 0 5px;
    padding: 3px 5px 2px 5px;
    font-size: 8px;
    line-height: 9px;
    color: #fff;
    background: #53ac7d;
    border-radius: 1px;
}
.channel_header_tab{
    position: absolute;
    right: 13px;
    top: 9px;
}
.channel_header_tab a{
    position: relative;
    padding: 16px 7px;
    font: 12px/12px a;
    color: #999;
}
.channel_header_tab a:after{
    content: '';
    position: absolute;
    top: 16px;
    bottom: 16px;
    right: 0;
    width: 1px;
    border-right: solid 1px #ccc;
}
.channel_header_tab a:last-child:after{
    display: none;
}
.channel_header_tab a:last-child{
    padding-right: 0;
}
.channel_header_tab_on{
    color: #528ae8 !important;
}
.list{
    padding: 0 13px;
}
.list li{
    padding: 17px 0;
    border-bottom: 1px solid #f0f0f0;
}
.list li:last-child{
    border: none;
}
.book{
    overflow: hidden;
}
.book .book_img{
    float: left;
    position: relative;
    width: 85px;
    height: 113px;
    background-color: #eeece9;
    border: 1px solid #f0f0f0;
    border-radius: 1px;
    overflow: hidden;
}
.book .book_img img{
    width: 100%;
    height: 100%;
    border-radius: 1px;
}
.book .book_finish{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 25px 7px 6px;
    font: 10px/10px a;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.3));
}
.book .book_info{
    margin-left: 100px;
    padding-top: 6px;
    background: #fff;
}
.book .book_info .book_info_title{
    margin-bottom: 4px;
    font: 16px/17px a;
    color: rgba(0,0,0,0.9);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.book .book_info .book_info_autor{
    margin-bottom:8px;
    font: 12px/12px a;
    color: rgba(0,0,0,0.7);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.book .book_info .book_info_summary{
    margin:8px 0 0;
    height: 2.8em;
    font: 12px/1.4em a;
    color: rgba(0,0,0,0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
.book .book_wrap{
    margin: 10px;
    padding-top: 3px;
    overflow: hidden;
}
.book .book_wrap .book_tag{
    float: left;
    margin: 3px 7px 0 0;
    padding: 3px 6px 2px;
    max-width: 6em;
    font: 10px/11px a;
    border: 1px solid #53ac7d;
    color: #53ac7d;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.book_noImg {
    margin-right: 0px;
}
.book_noImg .book_noImg_order{
    float: left;
    margin-top: 1px;
    font: 13px/13px a;
    color: rgba(237,83,15,0.9);
}
.book_noImg_info{
    font: 15px/15px a;
    color: rgba(0,0,0,0.9);
    background: #fff;
}


.banner_list{
    padding: 13px 13px 0;
}
.banner_list ul{
    overflow: hidden;
    margin: 0 -3px -3px;
}
.banner_list ul li{
    box-sizing: border-box;
    float: left;
    margin-bottom: 16px;
    padding: 0 3px;
    width: 50%;
}
.banner_list ul li img{
    width: 100%;
    height: 100%;
}
.banner_list_cover{
    border: 1px solid #f0f0f0;
    border-radius: 1px;
}


.channel_group{
    position:relative;
}
.channel_group_header{
    position: relative;
    padding: 10px 14px;
    border-bottom: 1px solid #f0f0f0;
    border-left: 6px solid #ffab18;
}
.channel_group_title{
    font-size: 16px;
    font-weight: normal;
    color: #333;
}
.book_table{
    padding: 13px 14px 5px;
    font-size: 0;
}
.book_table li{
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-bottom: 8px;
}
.book_table li>*{
    display: inline-block;
}
.book_table li:nth-child(3n+1){
    text-align: left;
}
.book_table li:nth-child(3n+2){
    text-align: center;
}
.book_table li:nth-child(3n+3){
    text-align: right;
}
.u_book{
    width: 86px;
    position: relative;
    overflow: hidden;
}
.u_book .book_cover{
    position: relative;
    width: 86px;
    height: 113px;
    background-color: #eeece9;
    box-shadow: 0px 6px 5px -3px #aaa;
    border: 1px  solid #f0f0f0;
    overflow: hidden;
    border-bottom: none;
}
.u_book .book_cover img{
    width: 100%;
    height: 100%;
}
.u_book .book_info{
    padding-top: 8px;
}
.u_book .book_info h3{
    font-size: 13px;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow: hidden;
    color: #8d8d8d;
    margin-bottom: 0px;
    font-weight: 400;
}
.u_book .u_tagRT{
    position: absolute;
    right: 0px;
    top: 0;
    width: 100%;
    line-height: 1.4;
    background-color: #ef6c2c;
    color: #fff;
    font-size:1.4rem;
    text-align: center;
    -webkit-transform-origin: top center;
    -webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
    transform-origin: top center;
    transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
}
.u_book .u_tagRT.freeFiction{
    background: #49ab3f;
}
.u_book .u_tagRT.freeFiction:before{
    content: '\9650\514d';
    display: block;
}
.channel_group_footer{
    display: block;
    border-top: 1px solid #f0f0f0;
    text-align: center;
    font-size: 14px;
    padding: 19px 0;
}